@keyframes play144 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -133920px 0px;
  }
}
.shapeshifter {
  animation-duration: 2400ms;
  animation-timing-function: steps(144);
  width: 930px;
  height: 550px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play144;
}
