.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 9999;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
a.annotation {
  position: absolute;
  border: 2px groove black;
  padding: 0;
  display: none;
}
a.annotation span {
  display: block;
  /* background: white; */
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=30);
}
a.annotation:hover {
  border-color: yellow;
}
img.annotated {
  border-width: 0;
}
